---
import HomeSearch from "../../components/views/home/HomeSearch.astro";
import FavoritesList from "../../components/views/favorites/FavoritesList.astro";
import PlayList from "../../components/views/play-list/PlayList.astro";
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import "/src/assets/css/global.css";
import ConfThemes from "../../components/views/config/conf-themes.astro";
import RecommendedList from "../../components/views/recommended-list/RecommendedList.astro";
---
<DashboardLayout>
  <!--===========================================-->
  <section id="home-music" style="display: none;">
    <HomeSearch />
  </section>
  <!--===========================================-->
  <section id="favorites-list" style="display: none;">
    <FavoritesList />
  </section>
  <!--===========================================-->
  <section id="play-list" style="display: none;">
    <PlayList />
  </section>
  <!--===========================================-->
  <section id="recommended-list" style="display: none;">
    <RecommendedList />
  </section>
  <!--===========================================-->
  <section id="local-music" style="display: none;">
    <PlayList />
  </section>
  <!--===========================================-->
  <section id="config-theme" style="display: none;">
    <ConfThemes />
  </section>
  <!--===========================================-->
</DashboardLayout>
