---
import HomeSearch from "../../components/views/home/HomeSearch.astro";
import FavoritesList from "../../components/views/favorites/FavoritesList.astro";
import PlayList from "../../components/views/play-list/PlayList.astro";
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import "/src/assets/css/global.css";
---
<DashboardLayout>
  <!--===========================================-->
  <section id="home-music" style="display: none;">
    <HomeSearch />
  </section>
  <!--===========================================-->
  <section id="favorites-list" style="display: none;">
    <FavoritesList />
  </section>
  <!--===========================================-->
  <section id="play-list" style="display: none;">
    <PlayList />
  </section>
  <!--===========================================-->
    <section class="section-local-music" id="local-music">
    <PlayList />
  </section>
  <!--===========================================-->
</DashboardLayout>
