<div class="container py-4">
  <h2 class="text-white mb-4">Mis Playlists</h2>
  <div id="playlistContainer" class="mb-4 d-flex flex-wrap gap-2"></div>
  
  <h4 class="text-white">Canciones en la Playlist</h4>
  <div id="songsContainer" class="row row-cols-1 row-cols-md-3 g-3 mt-2"></div>
</div>
<script is:inline type="module" src="/src/scripts/ListSongForPlayList.js"></script>