<div class="container mx-auto p-4">
  <h5 class="text-2xl font-bold mb-2" style="color: rgb(229, 229, 229);">
    Tus favoritos
  </h5>
  <p class="mb-4" style="color: rgb(229, 229, 229);">
    Aquí puedes ver las canciones que guardaste.
  </p>
  <div id="favorites-results" class="row gx-3 gy-4">
    <!-- Aquí se insertarán las tarjetas por JS -->
  </div>
</div>
<script is:inline type="module" src="/src/scripts/ListFavoritesScript.js"></script>
