<div
  class="d-flex flex-column align-items-start px-3 pt-2 text-dark min-vh-100 border-end position-relative"
  id="navbar-left-color"
>
  <a href="/" class="pb-3 mb-3 text-white text-decoration-none text-center" style="width: 100%; margin-top: 6px">
    <span class="fs-5 fw-bold" style="margin-left: -20px;">Music List</span>
  </a>
  <ul class="nav nav-pills flex-column w-100 mb-5">
    <li class="nav-item">
      <a href="/dashboard/home" class="nav-link">
        <i class="bi bi-house-door me-2"></i> Inicio
      </a>
    </li>
    <li>
      <a href="/dashboard/videos" class="nav-link">
        <i class="bi bi-heart me-2"></i> Favoritos
      </a>
    </li>
    <li>
      <a href="/dashboard/config" class="nav-link">
        <i class="bi bi-music-note-list me-2"></i> Play List
      </a>
    </li>
    <li>
      <a href="/dashboard/config" class="nav-link">
        <i class="bi bi-people me-2"></i> Artistas
      </a>
    </li>
    <li>
      <a href="/dashboard/config" class="nav-link">
        <i class="bi bi-stars me-2"></i> Recomendados
      </a>
    </li>
    <li>
      <a href="/dashboard/config" class="nav-link">
        <i class="bi bi-gear-wide-connected me-2"></i> Configuración
      </a>
    </li>  
  </ul>

  <footer class="text-center text-muted position-absolute bottom-0 pb-3 w-100">© 2025 JearCasta Panel</footer>
</div>
<style>
  #navbar-left-color a {
    color: black !important;
    margin-left: 20px;
  }
  li:hover {
    background-color: #e9ecef;
    border-radius: 10px;
  }
</style>
