---
import BaseHead from "../components/BaseHead.astro";
import FooterDashboard from "../components/FooterDashboard.astro";
import HeaderLeft from "../components/HeaderLeft.astro";
import HeaderTop from "../components/HeaderTop.astro";
import "/src/assets/css/global.css";
---

<!doctype html>
<html lang="es">
  <BaseHead />
  <body>
    <!-- Contenedor general -->
    <div class="container-fluid px-0">
      <!-- Header superior fijo y de ancho completo -->
      <HeaderTop />

      <!-- Contenido dividido en dos columnas en pantallas grandes -->
      <div class="row g-0">
        <!-- Sidebar (oculto en mobile, visible en md en adelante) -->
        <div class="col-md-3 col-lg-2 d-none d-md-block">
          <HeaderLeft />
        </div>

        <!-- Contenido principal -->
        <div id="main-content" class="col-12 col-md-9 col-lg-10 p-4">
          <main class="container-fluid">
            <slot />
          </main>
          <FooterDashboard />
        </div>
      </div>
    </div>
  <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script is:inline type="module">
     import { loadColorTheme } from '/src/scripts/themes/theme-script.js';
     window.addEventListener('DOMContentLoaded', loadColorTheme);
   </script>
  </body>
</html>
<style>
  html,
  body {
    height: 100%;
  }

  body {
    --main-bg-color: #102c4a; /* value in var */
    background-color: var(--main-bg-color);
    background-image: url("/src/assets/img/bg-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  #navbar-left-color a {
    color: black !important;
  }
</style>
