---
// En tu archivo .astro principal del dashboard
import BaseHead from "../components/BaseHead.astro";
import FooterDashboard from "../components/FooterDashboard.astro";
import HeaderLeft from "../components/HeaderLeft.astro";
import HeaderTop from "../components/HeaderTop.astro";
import "/src/assets/css/global.css";
---

<!doctype html>
<html lang="es">
  <BaseHead />
  <body>
    <!-- Contenedor general -->
    <div class="container-fluid px-0">
      <!-- Header superior fijo y de ancho completo -->
      <HeaderTop />

      <!-- Contenido dividido en dos columnas en pantallas grandes -->
      <div class="row g-0">
        <!-- Sidebar (oculto en mobile, visible en md en adelante) -->
        <div class="col-md-3 col-lg-2 d-none d-md-block">
          <HeaderLeft />
        </div>

        <!-- Contenido principal -->
        <div id="main-content" class="col-12 col-md-9 col-lg-10 p-4">
          <main class="container-fluid">
            <slot />
          </main>
          <FooterDashboard />
        </div>
      </div>
    </div>
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
<style>
  html,
  body {
    height: 100%;
  }

  body {
    background-color: #102c4a;
    background-image: url("/src/assets/img/bg-hero.png");
    background-repeat: no-repeat;
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-attachment: fixed; /* Opcional: fija la imagen de fondo al viewport */
  }
  #navbar-left-color a {
    color: black !important;
  }
</style>
